*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  line-height: 1.4;
  font-size: 15px;
}

body {
  color: #77ce45;
  font-family: Lato, "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

a {
  color: inherit;
  font-weight: 700;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

main a {
  box-shadow: inset 0 -2px #f2b139;
  color: #77ce45;
}
main a:hover {
  box-shadow: inset 0 -30em #f2b139;
  color: #fff;
}

.main_dl {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  text-align: center;
  text-rendering: optimizeLegibility;
  color: #000;
}

h1 {
  font-size: 3.6em;
  line-height: 1.4;
  margin-top: 0.4666666667em;
  margin-bottom: 0.4666666667em;
}

h2 {
  font-family: "Roboto Slab", serif;
  font-size: 1.8em;
  line-height: 1.4;
  margin-top: 0.8555555556em;
  margin-bottom: 0.8555555556em;
}

h3 {
  font-weight: 400;
  font-size: 1.4em;
  line-height: 1.4;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
}

img {
  max-width: 100%;
}

p {
  margin: 1.4rem 0;
}

small,
.small {
  font-size: 0.7em;
  line-height: 1.4;
  margin-top: 2.3em;
  margin-bottom: 2.3em;
}

input {
  background: none;
  border: 1px solid #77ce45;
  font: inherit;
  padding: 0.7rem;
  width: 100%;
  max-width: 100%;
}
input:focus {
  box-shadow: inset 0 0 6px #77ce45;
  outline: 0;
}

::-moz-selection {
  background: #77ce45;
  color: #fff;
}

::selection {
  background: #77ce45;
  color: #fff;
}

::-moz-selection {
  background: #77ce45;
  color: #fff;
}

::-webkit-input-placeholder {
  color: #77ce45;
}

::-moz-placeholder {
  color: #77ce45;
}

.button {
  background: #77ce45;
  border-radius: 3px;
  border: 0;
  box-shadow: 0 4px #29df29;
  color: #fff;
  display: inline-block;
  padding: calc(0.7rem - 1px) 1.4rem;
}
.button:focus {
  outline: 0;
}
.button-red {
  background: #e03e4f;
  border: 1px solid #e03e4f;
  box-shadow: 0 4px #bf2f45;
}
.button-red:hover,
.button-red:focus {
  background: #f34459;
  box-shadow: 0 4px #dd324d;
  outline: 0;
}
.button-yellow {
  background: #f2b139;
  border: 1px solid #f2b139;
  box-shadow: 0 4px #d68d33;
}
.button-yellow:hover,
.button-yellow:focus {
  background: #f8cb4f;
  box-shadow: 0 4px #f2b139, 0 0 10px #d68d33;
  outline: 0;
}
.button-blue {
  background: #229fbf;
  border: 1px solid #229fbf;
  box-shadow: 0 4px #1d7ba3;
}
.button-blue:hover,
.button-blue:focus {
  background: #60bad1;
  box-shadow: 0 4px #4ca0bd, 0 0 10px #1d7ba3;
  outline: 0;
}

.full-width {
  width: 100%;
}

.inline-list {
  display: -webkit-box;
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
.inline-list::after {
  clear: both;
  content: "";
  display: table;
}
.inline-list a {
  display: inline-block;
  padding: 0.7rem;
}
.inline-list li {
  -webkit-box-flex: 1;
  flex: 1 1 auto;
  list-style: none;
  white-space: nowrap;
}

.large-list {
  list-style: none;
  text-align: left;
  max-width: 50em;
  margin: 0 auto 2.1rem;
  padding: 0;
}
.large-list li {
  margin: 0.7rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.large-list li:hover {
  -webkit-transform: translateX(1.4rem);
  transform: translateX(1.4rem);
}
.large-list li:before {
  color: #77ce45;
}

@-webkit-keyframes fadein {
  100% {
    opacity: 1;
  }
}

@keyframes fadein {
  100% {
    opacity: 1;
  }
}
.fixed-width {
  padding: 1.4rem;
  text-align: center;
  height: max-content;
  padding-bottom: 0;
  margin-bottom: 0;
}
.fixed-width::after {
  clear: both;
  content: "";
  display: table;
}
.fixed-width-alt {
  padding: 1rem;
  text-align: center;
}
.fixed-width-alt::after {
  clear: both;
  content: "";
  display: table;
}
@media (min-width: 75em) {
  .fixed-width {
    padding: 1.4rem calc(50% - 30em);
  }
}
.fixed-width h3 {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
}
.logo-bar {
  display: block;
  background: #1d2326;
  box-shadow: 0 6px #77ce45;
  color: #77ce45;
  width: 100%;
  margin-top: -1.1em;
  margin-bottom: 0.3em;
  padding-top: 1em;
  padding-bottom: 0.1em;
}
.logo-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 1em;
}
.news {
  width: 85%;
  text-align: center;
  margin: auto;
}
.news-bar {
  background: #1d2326;
  box-shadow: 0 6px #77ce45;
  color: #77ce45;
  width: 100%;
  margin-top: -1.1em;
  margin-bottom: 0.3em;
  padding-top: 1em;
  padding-bottom: 0.1em;
}
.news-bar_alt {
  background: #1d2326;
  box-shadow: 0 5px #77ce45;
  color: #77ce45;
  width: 100%;
  margin-top: -1.1em;
  margin-bottom: 0.3em;
  padding-top: 1em;
  padding-bottom: 0.1em;
}
.news h3 {
  display: inline-block;
  word-wrap: break-word;
  word-break: break-word;
  text-align: center;
  color: #000;
  font-size: 120%;
  margin-top: -0.2em;
}
.col {
  padding: 1.4rem;
}

.small-box {
  border-radius: 3px;
  display: block;
  margin: 1.4rem 2.5%;
  padding-top: 0;
  padding-bottom: 1.4rem;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.small-box:hover {
  -webkit-transform: translateY(-1.4rem);
  transform: translateY(-1.4rem);
}

.topbar {
  z-index: 5;
  background: #1d2326;
  box-shadow: 0 6px #77ce45;
  color: #77ce45;
  position: fixed;
  width: 100%;
  bottom: 0;
}
.topbar::after {
  clear: both;
  content: "";
  display: table;
}
.topbar li:nth-child(1) a:hover {
  box-shadow: inset 0 -4px 0 #f2b139;
}
.topbar li:nth-child(2) a:hover {
  box-shadow: inset 0 -4px 0 #6da768;
}
.topbar li:nth-child(3) a:hover {
  box-shadow: inset 0 -4px 0 #229fbf;
}
.topbar li:nth-child(4) a:hover {
  box-shadow: inset 0 -4px 0 #e03e4f;
}
.topbar li:nth-child(5) a:hover {
  box-shadow: inset 0 -4px 0 #f2b139;
}

.site-title {
  display: none;
  font-size: 1.8rem;
  margin: 0;
}

.logo-normal {
  width: auto;
  height: 3rem;
  position: relative;
  top: -0.4em;
  cursor: default;
}

.logo-medium {
  width: auto;
  height: 1.8rem;
  position: relative;
  bottom: -0.27777em;
}
.logo-medium .svg-fire {
  mix-blend-mode: overlay;
  opacity: 0;
}
.logo-medium:hover .svg-fire {
  -webkit-animation: fire 1s linear infinite;
  animation: fire 1s linear infinite;
}

@-webkit-keyframes fire {
  50% {
    opacity: 0;
  }
  25%,
  100% {
    opacity: 1;
  }
}

@keyframes fire {
  50% {
    opacity: 0;
  }
  25%,
  100% {
    opacity: 1;
  }
}
.top-navigation .icon::before {
  display: block;
  font-size: 5vw;
  padding: 0;
}
.top-navigation ul li:first-child {
  display: none;
}

.background {
  background: linear-gradient(rgba(29, 35, 38, 0.8), rgba(29, 35, 38, 0.8)),
    url("/Assets/Images/Backgrounds/84011187_2823784691016212_6700140632343576576_o.jpg")
      no-repeat top left/cover;
}

.background_2 {
  background: linear-gradient(rgba(29, 35, 38, 0.8), rgba(29, 35, 38, 0.8)),
    url("/Assets/Images/Backgrounds/84975425_2823785284349486_5911962615394861056_o.jpg")
      no-repeat center right/cover;
}

.background_3 {
  background: linear-gradient(rgba(29, 35, 38, 0.9), rgba(29, 35, 38, 0.9)),
    url("/Assets/Images/Backgrounds/20200917234013_1.jpg") no-repeat center
      right/cover;
}

.background-padding {
  padding-top: 5em;
}

.site-header {
  background: #77ce45;
}

.header-image {
  background: #77ce45;
  text-align: center;
  bottom: translateY(0%);
  height: 47rem;
}
.header-image .button {
  margin: 0.7rem;
}

.header-title {
  color: #fff;
  font-family: Lato, "Helvetica Neue", sans-serif;
  font-size: 2.8em;
  line-height: 1.4;
  margin-top: 0.55em;
  margin-bottom: 0.55em;
  margin-top: 0;
}

.header-description {
  color: #77ce45;
  font-weight: 700;
  text-shadow: 0px 0px 6px #1d2326;
  font-size: 1.4em;
  line-height: 1.4;
  margin-top: 1.3em;
  margin-bottom: 1.3em;
  margin-top: 1.5em;
}

.highlighted-bg {
  background: #ffffff;
  box-shadow: 0 8px 0 #77ce45;
}

.landing-icon {
  display: block;
  margin: 0 auto;
  max-height: 8.4rem;
  -webkit-transition: 0.3s cubic-bezier(0.48, 0.77, 0.33, 1.8);
  transition: 0.3s cubic-bezier(0.48, 0.77, 0.33, 1.8);
}
.landing-icon:hover {
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}

.testimonial-avatar {
  background: #b8d0dc;
  border-radius: 100%;
  border: 6px solid #b8d0dc;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.testimonial-avatar:hover {
  background: #77ce45;
  border-color: #77ce45;
  -webkit-transform: none;
  transform: none;
}

.icon:before {
  padding-right: 0.7rem;
}

.icon-large {
  color: #77ce45;
  line-height: 0;
  font-size: 8.4em;
  margin-top: -1.3rem;
}
.icon-large:before {
  padding: 0;
}

.ion-social-html5 {
  color: #e34f26;
}

.ion-social-css3 {
  color: #229fbf;
}

.ion-social-javascript {
  color: #f0db4f;
}

.ion-stats-bars {
  color: #1d7ba3;
}

.ion-social-github {
  color: #4183c4;
}

.ion-social-angular {
  color: #dd1b16;
}

.ion-social-nodejs {
  color: #77ce45;
}

.featured-in-image {
  display: block;
  margin: 0 auto;
  font-size: 3em;
  line-height: 1.4;
  margin-top: 0.4666666667em;
  margin-bottom: 0.4666666667em;
}

.site-footer {
  background: #1d2326;
  box-shadow: 0 -6px #77ce45;
  padding: 1.4rem;
  text-align: center;
  bottom: 0;
  z-index: 2;
}
@media (min-width: 75em) {
  .site-footer {
    padding: 0.7rem calc(50% - 30em);
  }
}
.site-footer a {
  color: #77ce45;
}
.site-footer a:hover {
  box-shadow: inset 0 -4px #fff;
}
.site-footer ul {
  flex-wrap: wrap;
}

/* Login */
.login-modal-bg {
  background: rgba(29, 35, 38, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  opacity: 0;
}
@supports (mix-blend-mode: multiply) {
  .login-modal-bg {
    background: #77ce45;
    mix-blend-mode: multiply;
  }
}

.login-container {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 4px #77ce45;
  position: absolute;
  top: 4.2rem;
  left: 50%;
  -webkit-transform: translate3d(-50%, 0, 0);
  transform: translate3d(-50%, 0, 0);
  z-index: 100000;
  max-width: 90%;
  width: 50em;
  display: none;
  opacity: 0;
}
.login-container .half {
  width: 100%;
}
.login-container h3 {
  margin-top: 0.375rem;
  margin-bottom: 1.8rem;
  font-weight: 700;
  text-align: left;
}
.login-container .highlighted-bg {
  box-shadow: none;
}
.login-container .highlighted-bg .button:first-child {
  margin-top: 0;
}
.login-container .button {
  margin-top: 1.4rem;
  padding: 0.7rem;
}
.login-container .button:hover,
.login-container .button:focus {
  opacity: 0.9;
}
.login-container .icon:before {
  color: #fff;
}
.login-container .small {
  line-height: 1.4rem;
  text-align: center;
  margin-bottom: 0;
}
.login-container .small a:last-child {
  color: #77ce45;
}

@-webkit-keyframes slidedown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}

@keyframes slidedown {
  100% {
    opacity: 1;
    -webkit-transform: translate3d(-50%, -50%, 0);
    transform: translate3d(-50%, -50%, 0);
  }
}
.input-group {
  position: relative;
}
.input-group input {
  padding-left: 3.5rem;
}
.input-group input:focus + label .icon-label-text {
  opacity: 0;
}
.input-group input:valid + label .icon-label-text,
.input-group input:invalid + label .icon-label-text {
  opacity: 0;
}
.input-group + .input-group {
  top: -1px;
}
.input-group + .button {
  margin-top: 1.25rem;
}

.icon-label {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
}
.icon-label .icon::before {
  padding: 0.7rem;
  text-align: center;
  width: 2.8rem;
}
.icon-label .icon,
.icon-label .icon::before {
  background: #77ce45;
  display: block;
  font-size: 1.4rem;
  height: 100%;
}

.button-twitter {
  background: #55acee;
  box-shadow: 0 4px #4480bd;
}

.button-github {
  background: #666;
  box-shadow: 0 4px #363636;
}

.button-facebook {
  background: #3b5998;
  box-shadow: 0 4px #273463;
}

.button-google {
  background: #dc4e41;
  box-shadow: 0 4px #b53636;
}

.button-linkedin {
  background: #0077b5;
  box-shadow: 0 4px #005194;
}

.close-button {
  border-radius: 3px 3px 0 0;
  box-shadow: none;
  position: absolute;
  top: calc(-4.2rem - 2px);
  right: 0;
  z-index: -1;
}

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  margin-bottom: 68px;
}

/*slideshow*/
/*
 * CSS Fadeshow by @alexerlandsson
 * This is a fadeshow built in CSS and with customization in focus.
 * Supports quick navigation, prev/next navigation and autoplay.
 * 
 * For better documentation and implementation guide, check out the GitHub repository:
 * https://github.com/alexerlandsson/css-fadeshow
*/
/*
 * ===== VARIABLES =====
 *
 * Change these variables to match your preferences. For a more detailed
 * description of what each variable do, visit https://github.com/alexerlandsson/css-fadeshow
 */
/*
 * ===== MIXINS =====
 *
 * This section contains mixin used
 * Do not change anything here unless you know what you are doing.
 */
/* Mixins to handle prefixes */
/* Mixins to handle Quick Navigation Button states */
/*
 * ===== FADESHOW =====
 *
 * Base functionality for the fadeshow.
 * Do not change anything here unless you know what you are doing.
 */
[data-am-fadeshow] {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #fff;
  /* Slides */
  /* Quick Navigation */
  /* Prev/Next Navigation */
  /* Base functionality */
  /* Autohide Prev/Next Navigation */
}
[data-am-fadeshow] .fs-slide {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity 1s ease;
  transition: opacity 1s ease;
  /* Display first child on load */
}
[data-am-fadeshow] .fs-slide:first-child {
  opacity: 1;
}
[data-am-fadeshow] .fs-quick-nav {
  position: absolute;
  bottom: 15px;
  left: 50%;
  z-index: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}
[data-am-fadeshow] .fs-quick-btn {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 2px;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease;
  background-color: rgba(255, 255, 255, 0.8);
  /* Set active state to first button on load */
}
[data-am-fadeshow] .fs-quick-btn:hover {
  opacity: 0.8;
}
[data-am-fadeshow] .fs-quick-btn:first-child {
  background-color: #77ce45;
}
[data-am-fadeshow] .fs-prev-btn,
[data-am-fadeshow] .fs-next-btn {
  position: absolute;
  display: none;
  top: 0;
  bottom: 0;
  width: 100px;
  cursor: pointer;
  font-family: sans-serif;
  background-color: rgba(255, 255, 255, 0);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-transition: all 200ms ease;
  transition: all 200ms ease;
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn,
  [data-am-fadeshow] .fs-next-btn {
    width: 50%;
  }
}
[data-am-fadeshow] .fs-prev-btn:before,
[data-am-fadeshow] .fs-next-btn:before {
  position: absolute;
  top: 50%;
  font-size: 3vw;
  color: rgba(255, 255, 255, 0.5);
}
[data-am-fadeshow] .fs-prev-btn:hover,
[data-am-fadeshow] .fs-next-btn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn:hover,
  [data-am-fadeshow] .fs-next-btn:hover {
    background-color: rgba(255, 255, 255, 0);
  }
}
[data-am-fadeshow] .fs-prev-btn {
  left: 0;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}
[data-am-fadeshow] .fs-prev-btn:before {
  content: "❮";
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn:before {
    left: 30px;
  }
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-prev-btn {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
[data-am-fadeshow] .fs-next-btn {
  right: 0;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}
[data-am-fadeshow] .fs-next-btn:before {
  content: "❯";
  right: 50%;
  -webkit-transform: translate(50%, -50%);
  transform: translate(50%, -50%);
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-next-btn:before {
    right: 30px;
  }
}
@media (max-width: 500px) {
  [data-am-fadeshow] .fs-next-btn {
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}
[data-am-fadeshow] input[type="radio"] {
  position: fixed;
  top: -9999px;
}

[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-slides
  .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-slides
  .fs-slide:nth-child(5) {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-quick-nav
  .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cancel autoplay */
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(5) {
  background-color: #77ce45;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(5):hover {
  opacity: 1;
}

[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-slides
  .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-slides
  .fs-slide:nth-child(4) {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-quick-nav
  .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cancel autoplay */
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(4) {
  background-color: #77ce45;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(4):hover {
  opacity: 1;
}

[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-slides
  .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-slides
  .fs-slide:nth-child(3) {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-quick-nav
  .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cancel autoplay */
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(3) {
  background-color: #77ce45;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(3):hover {
  opacity: 1;
}

[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-slides
  .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-slides
  .fs-slide:nth-child(2) {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-quick-nav
  .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cancel autoplay */
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2) {
  background-color: #77ce45;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2):hover {
  opacity: 1;
}

[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-slides
  .fs-slide {
  opacity: 0;
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-slides
  .fs-slide:nth-child(1) {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-quick-nav
  .fs-quick-btn {
  background-color: rgba(255, 255, 255, 0.8);
  /* Cancel autoplay */
  -webkit-animation: none !important;
  animation: none !important;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1) {
  background-color: #77ce45;
}
[data-am-fadeshow]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1):hover {
  opacity: 1;
}
[data-am-fadeshow]
  input[type="radio"]:checked:first-of-type:last-of-type
  ~ .fs-quick-nav,
[data-am-fadeshow]
  input[type="radio"]:checked:first-of-type:last-of-type
  ~ .fs-prev-nav,
[data-am-fadeshow]
  input[type="radio"]:checked:first-of-type:last-of-type
  ~ .fs-next-nav {
  display: none !important;
}
[data-am-fadeshow]:hover .fs-prev-btn,
[data-am-fadeshow]:hover .fs-next-btn {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

/*
 * ===== PREV/NEXT NAVIGATION =====
 *
 * This section handles the prev/next navigation.
 */
/* Handle Prev/Next buttons */

[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-prev-nav
  .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(5)
  ~ .fs-prev-nav
  .fs-prev-btn:nth-child(4) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(5):first-of-type
  ~ .fs-prev-nav
  .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(5):last-of-type
  ~ .fs-next-nav
  .fs-next-btn:first-child {
  display: block;
}

[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-prev-nav
  .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-prev-nav
  .fs-prev-btn:nth-child(3) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-next-nav
  .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4)
  ~ .fs-next-nav
  .fs-next-btn:nth-child(5) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4):first-of-type
  ~ .fs-prev-nav
  .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(4):last-of-type
  ~ .fs-next-nav
  .fs-next-btn:first-child {
  display: block;
}

[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-prev-nav
  .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-prev-nav
  .fs-prev-btn:nth-child(2) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-next-nav
  .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3)
  ~ .fs-next-nav
  .fs-next-btn:nth-child(4) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3):first-of-type
  ~ .fs-prev-nav
  .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(3):last-of-type
  ~ .fs-next-nav
  .fs-next-btn:first-child {
  display: block;
}

[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-prev-nav
  .fs-prev-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-prev-nav
  .fs-prev-btn:nth-child(1) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-next-nav
  .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2)
  ~ .fs-next-nav
  .fs-next-btn:nth-child(3) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2):first-of-type
  ~ .fs-prev-nav
  .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(2):last-of-type
  ~ .fs-next-nav
  .fs-next-btn:first-child {
  display: block;
}

[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-next-nav
  .fs-next-btn {
  display: none;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(1)
  ~ .fs-next-nav
  .fs-next-btn:nth-child(2) {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(1):first-of-type
  ~ .fs-prev-nav
  .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"]
  input[type="radio"]:checked:nth-of-type(1):last-of-type
  ~ .fs-next-nav
  .fs-next-btn:first-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-prev-btn:last-child {
  display: block;
}
[data-am-fadeshow~="next-prev-navigation"] .fs-next-btn:nth-child(2) {
  display: block;
}

/*
 * ===== AUTOPLAY =====
 *
 * Functions to handle autoplay.
 * If you're not going to use autoplay, set $autoplay to false.
 * This part tends to compile into a lot of uneccesary CSS otherwise.
 */
@keyframes quickNavAnimation-5 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  4%,
  20% {
    background-color: #77ce45;
  }
  24%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-5 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  4%,
  20% {
    background-color: #77ce45;
  }
  24%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-5 {
  0% {
    opacity: 0;
  }
  4%,
  20% {
    opacity: 1;
  }
  24%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-5 {
  0% {
    opacity: 0;
  }
  4%,
  20% {
    opacity: 1;
  }
  24%,
  100% {
    opacity: 0;
  }
}

[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide {
  -webkit-animation: slidesAnimation-5 25s infinite;
  animation: slidesAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn {
  -webkit-animation: quickNavAnimation-5 25s infinite;
  animation: quickNavAnimation-5 25s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(4),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(4) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(5),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(5):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(5) {
  -webkit-animation-delay: 19s;
  animation-delay: 19s;
}

@keyframes quickNavAnimation-4 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  5%,
  25% {
    background-color: #77ce45;
  }
  30%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-4 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  5%,
  25% {
    background-color: #77ce45;
  }
  30%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-4 {
  0% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-4 {
  0% {
    opacity: 0;
  }
  5%,
  25% {
    opacity: 1;
  }
  30%,
  100% {
    opacity: 0;
  }
}

[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-slides
  .fs-slide {
  -webkit-animation: slidesAnimation-4 20s infinite;
  animation: slidesAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn {
  -webkit-animation: quickNavAnimation-4 20s infinite;
  animation: quickNavAnimation-4 20s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(4),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(4):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(4) {
  -webkit-animation-delay: 14s;
  animation-delay: 14s;
}

@keyframes quickNavAnimation-3 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  6.6666666667%,
  33.3333333333% {
    background-color: #77ce45;
  }
  40%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-3 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  6.6666666667%,
  33.3333333333% {
    background-color: #77ce45;
  }
  40%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-3 {
  0% {
    opacity: 0;
  }
  6.6666666667%,
  33.3333333333% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-3 {
  0% {
    opacity: 0;
  }
  6.6666666667%,
  33.3333333333% {
    opacity: 1;
  }
  40%,
  100% {
    opacity: 0;
  }
}

[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-slides
  .fs-slide {
  -webkit-animation: slidesAnimation-3 15s infinite;
  animation: slidesAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn {
  -webkit-animation: quickNavAnimation-3 15s infinite;
  animation: quickNavAnimation-3 15s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(3),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(3):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(3) {
  -webkit-animation-delay: 9s;
  animation-delay: 9s;
}

@keyframes quickNavAnimation-2 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  10%,
  50% {
    background-color: #77ce45;
  }
  60%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@-webkit-keyframes quickNavAnimation-2 {
  0% {
    background-color: rgba(255, 255, 255, 0.8);
  }
  10%,
  50% {
    background-color: #77ce45;
  }
  60%,
  100% {
    background-color: rgba(255, 255, 255, 0.8);
  }
}
@keyframes slidesAnimation-2 {
  0% {
    opacity: 0;
  }
  10%,
  50% {
    opacity: 1;
  }
  60%,
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes slidesAnimation-2 {
  0% {
    opacity: 0;
  }
  10%,
  50% {
    opacity: 1;
  }
  60%,
  100% {
    opacity: 0;
  }
}

[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-slides
  .fs-slide {
  -webkit-animation: slidesAnimation-2 10s infinite;
  animation: slidesAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn {
  -webkit-animation: quickNavAnimation-2 10s infinite;
  animation: quickNavAnimation-2 10s infinite;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(1),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(1) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-slides
  .fs-slide:nth-child(2),
[data-am-fadeshow~="autoplay"]
  input[type="radio"]:nth-of-type(2):last-of-type
  ~ .fs-quick-nav
  .fs-quick-btn:nth-child(2) {
  -webkit-animation-delay: 4s;
  animation-delay: 4s;
}

/* Base Styling */
body {
  margin: 0;
}

/*cards*/

.card {
  font-size: 3em;
  font-weight: 800;
  height: 4em;
  width: 64em;
  padding: 0.5em 1em;
  display: table-cell;
  vertical-align: middle;
  letter-spacing: -1px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.bg-news {
  background: -webkit-linear-gradient(70deg, #1d2326 30%, #c4302b 45%);
  background: -o-linear-gradient(70deg, #1d2326 30%, #c4302b 45%);
  background: -moz-linear-gradient(70deg, #1d2326 30%, #c4302b 45%);
  background: linear-gradient(70deg, #1d2326 30%, #c4302b 45%);
}

.price::before {
  content: "•  ";
}
.price {
  font-size: 16px;
  color: white;
}
.cart-buttons {
  margin-top: 20px;
}
.quantity {
  max-width: 80px;
}
.product-image {
  width: 100%;
  height: auto;
  min-width: 800px;
  max-width: 800px;
}

.site-main_alt {
  margin-top: 0px;
}

.button {
  margin-top: 0px;
  background-color: #77ce45;
  font-size: 25px;
  margin-left: 20px;
  margin-right: 20px;
}

.button:hover {
  background-color: #1d2326;
}

.item-price{
  margin-left: 20px;
}

.col-md-6 {
  float: none;
  margin-left: 0%;
  z-index: 5;
  min-width: 100px;
  min-height: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.main {
  width: auto;
  height: auto;
  margin-right: 30px;
  margin-left: 20px;
  max-width: 700px;
}
h6 {
  background: #77ce45;
  padding: 0.3%;
  position: relative;
  text-align: center;
  width: auto;
  height: auto;
  max-width: 700px;
}
h5 {
  background: #77ce45;
  margin: 0px;
  padding: 0.6%;
  position: relative;
  text-align: center;
  height: auto;
  width: auto;
}
h5:hover .thumb {
  background: #77ce45;
  opacity: 0.8;
}
.action {
  display: block;
  margin: 100px auto;
  width: 100%;
  text-align: center;
}
.action a {
  display: inline-block;
  padding: 5px 10px;
  background: #f30;
  color: #fff;
  text-decoration: none;
}
.action a:hover {
  background: #000;
  color: white;
}

.slider-nav {
  margin-top: -30px;
}

.slideshow {
  margin: 20px solid green;
}

.download-info{
  display: inline-block;
  min-width: 100%;
  max-width: 100%;
  margin-left: 20px;
  padding-right: 20px;
}

.showcase {
  position: relative;
  width: 90%;
  height: 25em;
  margin: 1em auto;
  overflow: hidden;
  background: transparent;
}

.thumbnail {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  right: 300px;
  z-index: 1;
  background: #1d2326;
  background-position: 50% 50%;
  background-size: cover;
  transition: right 250ms ease, left 250ms ease;
}

.thumbnail--awesome {
  background-image: url("../Images/Backgrounds/20200917234013_1.jpg");
}

.thumbnail__overlay {
  position: relative;
  padding-top: 5%;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  text-align: center;
  opacity: 0;
  transition: opacity 250ms ease;
}

.desc {
  position: absolute;
  width: 300px;
  height: 100%;
  top: 0;
  right: 0;
  padding: 20px;
  z-index: 2;
  background: #1d2326;
  text-align: center;
  transition: background 250ms ease, color 250ms, width 250ms ease, padding 250ms ease;
}
.desc:after {
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  top: 50%;
  left: -20px;
  margin-top: -10px;
  border-style: solid;
  border-width: 10px;
  border-color: transparent #1d2326 transparent transparent;
  content: "";
  transition: border-color 250ms;
}

.showcase:hover .thumbnail {
  right: 325px;
  left: -25px;
}
.showcase:hover .thumbnail__overlay {
  opacity: 1;
}
.showcase:hover .desc {
  width: 350px;
  padding-left: 45px;
  padding-right: 45px;
  background: #77ce45;
  color: #1d2326;
}
.showcase:hover .desc:after {
  border-color: transparent #77ce45 transparent transparent;
}

.showcase--inverted .thumbnail {
  right: 0;
  left: 300px;
}

.showcase--inverted .desc {
  left: 0;
  right: auto;
}
.showcase--inverted .desc:after {
  left: auto;
  right: -20px;
  border-color: transparent transparent transparent #1d2326;
}

.showcase--inverted:hover .thumbnail {
  left: 325px;
  right: -25px;
}
.showcase--inverted:hover .desc:after {
  border-color: transparent transparent transparent #77ce45;
}

.proj-info {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: background 250ms;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: auto;
  margin-bottom: auto;
}

.proj-name{
  color: white;
}

.thumbnail__overlay:hover {
  background: rgba(0, 0, 0, 0.6);
}

/* Media queries */
@media (min-width: 30em) {
  .button.button-login {
    margin-left: 0.7rem;
    padding: 0.5em 1.4rem;
    position: relative;
    bottom: -4px;
  }
  .button.button-login:hover {
    box-shadow: 0 2px #bf2f45, 0 0 10px #bf2f45, 0 0 0 6px rgba(0, 0, 0, 0.5);
    bottom: -6px;
  }

  .top-navigation ul li:first-child {
    display: block;
  }

  .col {
    float: left;
  }

  .third {
    width: 33.33333%;
  }

  .half,
  .fourth {
    width: 50%;
  }

  .small-box {
    width: 45%;
  }
}
@media (min-width: 45em) {
  .site-main_alt {
    margin-top: 65px;
  }
  .col-md-6 {
    float: left;
    margin-left: 0%;
  }
  .main {
    margin-right: 60px;
    margin-left: 20px;
  }
  .download-info{
    text-align: justify;
    max-width: 810px;
    min-width: 300px;
    margin-left: 0px;
    margin-right: -120px;
  }  
  .button {
    margin-left: 0px;
    margin-right: 0px;
  }
  .item-price{
    margin-left: 0px;
  }
  .top-navigation {
    float: right;
  }
  .top-navigation .icon::before {
    display: none;
  }

  .site-title {
    display: block;
    float: left;
  }

  .topbar {
    padding: 0.7rem;
    position: fixed;
    top: 0;
    bottom: initial;
    width: 100%;
  }

  .header-title {
    font-size: 3.6em;
    line-height: 1.4;
    margin-top: 0.4666666667em;
    margin-bottom: 0.4666666667em;
  }

  .header-description {
    font-size: 1.4em;
    line-height: 1.4;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
    margin-top: 1.5em;
  }

  .login-container {
    top: 50%;
  }
  .login-container .half {
    width: 50%;
  }
  .login-container.unhide {
    -webkit-transform: translate3d(-50%, 50%, 0);
    transform: translate3d(-50%, 50%, 0);
    -webkit-animation: slidedown 0.3s forwards ease-out;
    animation: slidedown 0.3s forwards ease-out;
  }
  .container {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin-bottom: 0px;
  }
  .logo-bar {
    display: none;
  }
}
@media (min-width: 57.5em) {
  .fourth {
    width: 25%;
  }
  .small-box {
    margin: 2.8rem 2.5%;
    width: 20%;
  }
  .small-box:nth-child(n + 6) {
    margin-top: 0;
  }
}
@media (min-width: 75em) {
  html {
    font-size: 20px;
  }
  .header-image {
    height: 47rem;
  }

  .topbar {
    padding-left: calc(50% - 30em);
    padding-right: calc(50% - 30em);
  }
}
.unhide {
  -webkit-animation: fadein 0.3s forwards ease-out;
  animation: fadein 0.3s forwards ease-out;
  display: block;
}
